
 /* ...
 *= require_self
 *= require_tree .
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.logo {
   display: inline-block;
   max-width: 5%;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pull_text_left{
  text-align: left;
}

.add_margin {
  margin: 5%;
}

.block-display {
  display: block;
}